* {
    margin: 0px;
    padding: 0px;
}

#flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#grid-container {
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas:
        "canada usa"
        "finland sweden";
    gap: 25px;
}

.canada {
    grid-area: canada;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #F41234 0%, #F41234 0%, #F4EFED 100%);
    color: #F4EFED;
    text-shadow: 1px 1px 5px #000000;
    box-shadow: 0px 0px 10px 3px #000000;
}

.usa {
    grid-area: usa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #F41234 0%, #234EF4 0%, #F4EFED 100%);
    color: #F4EFED;
    text-shadow: 1px 1px 5px #F41234;
    box-shadow: 0px 0px 10px 3px #000000;
}

.finland {
    grid-area: finland;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #ffe81c 0%, #1f8be4 0%, #F4EFED 100%);
    color: #F4EFED;
    text-shadow: 1px 1px 5px #000000;
    box-shadow: 0px 0px 10px 3px #000000;
}

.sweden {
    grid-area: sweden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #1f8be4 0%, #ffe81c 0%, #F4EFED 100%);
    color: #1f8be4;
    text-shadow: 1px 1px 5px #F4EFED;
    box-shadow: 0px 0px 10px 3px #000000;
}

h1 {
    text-shadow: 1px 2px 3px #000000;
}

button {
    background-color: #F4EFED;
    color: #000000;
    font-weight: bold;
}

button:hover {
    background-color: grey;
    color: white;
    border: solid 3px white;
}

#add-player {
    padding: 10px;
    background-color: #F4EFED;
    color: #000000;
    font-weight: bold;
    border-radius: 50%;
    border: solid 3px black;
}

#add-player:hover {
    background-color: grey;
    color: white;
    border: solid 3px white;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}